.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.transition-all {
    transition: all 0.3s ease;
}

.hover-danger:hover {
    background-color: #fee2e2 !important;
    border-color: #ef4444 !important;
}
